* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box_fumetti {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #232323;
}
.box_fumetti .container_characters,
.box_fumetti .container_comics,
.box_fumetti .container_movies {
  width: 55%;
  height: 100%;
  padding: 20px 0;
  margin: 0 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box_fumetti .container_movies {
  width: 60%;
  height: 100%;
  text-align: center;
}

.text_img {
  width: 100%;
  height: 10vh;
  position: relative;
  color: white;
  text-decoration: none;
  list-style: none;
}

.title {
  color: red;
  width: 200px;
}

.button_title {
  color: white;
  font-size: 30px;
}

header {
  width: 100%;
}
header #header_top {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  background-color: #0282F9;
  text-decoration: none;
}
header #header_top .text_header {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  color: white;
}
header #header_top img {
  width: 70%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
}

#header_bottom {
  width: 100%;
  height: 100%;
}
#header_bottom #jumbotron {
  width: 100%;
  position: relative;
}
#header_bottom #jumbotron img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_central {
  display: flex;
  justify-content: space-around;
}

#container-main-bottom {
  width: 100%;
  height: 100%;
  background-color: #0282F9;
  display: flex;
  justify-content: center;
  position: relative;
}
#container-main-bottom .container-icons {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-main-bottom img {
  width: 70px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
#container-main-bottom img, #container-main-bottom ul {
  list-style: none;
  display: flex;
  float: left;
  padding: 10px 10px;
}
#container-main-bottom img li a, #container-main-bottom ul li a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  color: white;
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  height: 100%;
}
footer #container-footer-top {
  width: 100%;
  height: 50vh;
  position: relative;
}
footer #container-footer-top img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
footer #container-footer-top .container-jumbotron {
  width: 100%;
  height: 100%;
  display: relative;
}
footer #container-footer-top .scritte {
  position: absolute;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
footer #container-footer-top ul {
  list-style: none;
  display: flex;
}
footer #container-footer-top ul li a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  color: #FFFFFF;
  padding: 10px;
}
footer #container-footer-top .logo-dc-grande img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  left: 900px;
  width: 30%;
}
footer #container-footer-bottom {
  width: 100%;
  height: 20%;
  background-color: #303030;
  position: absolute;
  display: flex;
  justify-content: center;
}
footer #container-footer-bottom .container-icons {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer #container-footer-bottom button {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #303030;
  border: 2px solid #0282F9;
  font-size: 15px;
}
footer #container-footer-bottom h1 {
  color: #0282F9;
}
footer #container-footer-bottom .button, footer #container-footer-bottom ul {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #container-footer-bottom ul {
  list-style: none;
  display: flex;
}
footer #container-footer-bottom ul li a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  color: #EC1F26;
}