header {
    width: 100%;

    #header_top {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        background-color: #0282F9;
        text-decoration: none;
        

        .text_header {
            list-style: none;
            text-decoration: none;
            display: flex;
            justify-content: space-around;
            color: white;
        }

        img {
            width: 70%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }   
}

#header_bottom {
    width: 100%;
    height: 100%;
    #jumbotron {
        width: 100%;
        //height: 20vh;  
        position: relative;
        img {
            width: 100%;
            //height: 100%;
            object-fit: contain;
        }
    }
}

.header_central {
    display: flex;
    justify-content: space-around;
}